<% if (success.length > 0){ %>
    <div class="alert alert-success"><%= success %></div>
<% } %>

<div class="jumbotron text-center">
    <h1><%= firm.name %></h1>
    <p><%= firm.ceo%></p>
    <p><%= firm.address%></p>
</div>